

.related {
    float: left;
} 

#logo {
    position: relative;
    height: 100px;
    width: 100px;

}

#button {
    position: relative;
    height: 21px;
    width: 50px;
    margin-left: 0px;
    margin-top: 45px;
}

#hamburger {
    position: relative;
    height: 100px;
    width: 100px;

}

.logo_container {

    position: relative;
    width: 100px;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-item {
    flex-grow: 4; /* default 0 */
  }

.video-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 2;
    padding-right: 200px;    
  }

.body-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 100px;
}

.related-videos-container{
    display: flex;
    flex-direction: row;
    /*justify-content: flex-end;*/
    padding-left: 50px;
    padding-bottom: 10px;

}

.related-video-image {
    padding-left: 10px;
    width: 30%;
}

.related-video-text {
    padding-left: 10px;
    width: 30%;
}

h1 {
    margin: 0px;
}

h2 {
    margin: 0px;
}

h3 {
    margin: 0px;
}

p {

}